
.list-of-products {
  max-width: 80rem;
  width: 100%;
  margin: 2rem;
  position: relative;
  z-index: 5;
  border-radius: 0.8rem;
  padding: 1rem;
}

.product-table {
  margin: 1rem;
  border-radius: 0.3rem;
  border: 0.02px solid var(--zinc-300);
  background-color: #fff;
}

.heading-and-action h1 {
  font-size: 1.2rem;
  color: var(--zinc-700);
}

.add-new-product {
  font-size: 0.85rem;
  background-color: var(--blue-700);
  color: #fff;
  border: 0;
  width: 10rem;
  height: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 700;
  border-radius: 0.2rem;
  font-family: inherit;
  cursor: pointer;
  display: grid;
  text-decoration: none;
  place-items: center;
}

.add-new-product:hover {
  background-color: var(--blue-800);
}

.primary-column {
  width: 30%;
}

.action-column {
  width: 10rem;
}

.action-form-delete button {
  background-color: transparent;
  border: 0;
  color: var(--red-600);
  font-size: 0.85rem;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  font-size: .85em;
  text-transform: uppercase;
  color: var(--zinc-600);
}

table tbody td.in-stocks {
  font-weight: 700;
  color: var(--green-500);
}

table thead tr {
  border-bottom: 0.02rem solid var(--zinc-400);
  background-color: var(--zinc-100);
}

table td {
  font-size: 0.90rem;
  color: var(--zinc-600);
}

tbody tr:nth-of-type(even) {
  background: var(--zinc-100);
}

tbody tr:hover {
  transition: 300ms;
  background-color: var(--zinc-200);
}

.table-action {
  display: flex;
  gap: 1rem;
}

.table-action a {
  text-decoration: none;
}

.table-action .action-view {
  color: var(--blue-700);
}

.table-action .action-delete {
  color: var(--red-600);
}

td.out-of-stocks {
  color: var(--red-600);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 0.02 solid var(--zinc-200);
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.no-products-found {
  padding: 10px;
  color: var(--zinc-300);
  font-size: 1.5rem;
  text-align: center;
}

.heading-and-action {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}