* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  margin: 0;
}

:root {
  /* Zinc Colors */
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  /* Tailwind Red Colors */
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  /* Tailwind Blue Colors */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;

  --green-500: #22c55e;
}

.content-wrapper {
  max-width: 40rem;
  margin: 2rem;
  width: 100%;
}

main.center-content {
  display: grid;
  place-items: center;
}

.heading-one {
  font-size: 1.6rem;
  color: var(--zinc-700);
}

.with-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--zinc-100);
}

.empty-add-product-action,
.go-back {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--blue-700);
  transition: 300ms;
  width: max-content;
  margin: auto;
  padding: 0.7rem 1.5rem;
  color: #fff;
  margin-top: 1rem;
  border-radius: 0.3rem;
}

.empty-add-product-action:hover {
  background-color: var(--blue-800);
}