.product-not-found {
  text-align: center;
}

.product-not-found h1 {
  font-size: 2rem;
  color: var(--zinc-800);
}

.single-product-wrapper {
  display: flex;
  gap: 1rem;
}

.placeholder-img {
  width: 30rem;
}

.placeholder-img img {
  width: 100%;
  border-radius: 1rem;
}

.content-wrapper {
  color: var(--zinc-600);
}

.single-product-title {
  font-size: 2rem;
  color: var(--zinc-700);
}

.single-product-price {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.single-product-quantity {
  margin-top: 1rem;
  opacity: 0.7;
}

.place-order-form {
  margin-top: 1rem;
}

.place-order-form button {
  font-size: 0.85rem;
  background-color: var(--blue-700);
  color: #fff;
  border: 0;
  width: 10rem;
  height: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 700;
  border-radius: 0.2rem;
  font-family: inherit;
  cursor: pointer;
  display: grid;
  text-decoration: none;
  place-items: center;
  transition: 300ms;
}

.place-order-form button:hover {
  background-color: var(--blue-800);
}


.single-product-go-back {
  background-color: var(--zinc-100);
  color: var(--zinc-500);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 0.90rem;
}

.single-product-description {
  font-size: 1.1rem;
  color: var(--zinc-500);
}

.list-of-products {
  max-width: 80rem;
  width: 100%;
  margin: 3rem;
}

.single-product-out-of-stocks {
  margin-top: 1rem;
  font-weight: 700;
  color: var(--red-600);
}